In [1]:
# Importing All Necessary Files
import pandas as pd
import numpy as np

1. Read the csv or excel file.

In [2]:
# Read the csv or excel file. 
bike = pd.read_csv('used_bikes.csv')

In [3]:
# Viewing Records
bike

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
144,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,First Owner,3.0,350.0,Royal Enfield
145,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,First Owner,3.0,125.0,Honda
146,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,First Owner,2.0,150.0,Honda
147,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,Second Owner,7.0,150.0,Yamaha
148,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,First Owner,2.0,150.0,Yamaha

2. Change the datatypes of the column and check the memory usage before and after the change in the data types.

In [4]:
# Column Names
bike.columns

Index(['bike_name', 'price', 'city', 'kms_driven', 'owner', 'age', 'power',
       'brand'],
      dtype='object')

In [5]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 9.4+ KB

In [6]:
bike.memory_usage(index=True, deep=False)

Index          128
bike_name     1192
price         1192
city          1192
kms_driven    1192
owner         1192
age           1192
power         1192
brand         1192
dtype: int64

In [7]:
bike['owner'].memory_usage()

1320

In [8]:
# Importing LabelEncoder from Sklearn
# library from preprocessing Module.
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
label = le.fit_transform(bike['owner'])
 
# printing label
label

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [9]:
# removing the column 'owner' from df
# as it is of no use now.
bike.drop("owner", axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'owner'
bike["owner"] = label
 
# printing Dataframe
bike

,bike_name,price,city,kms_driven,age,power,brand,owner
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,3.0,110.0,TVS,0
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,4.0,350.0,Royal Enfield,0
2,Triumph Daytona 675R,600000.0,Delhi,110.0,8.0,675.0,Triumph,0
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,4.0,180.0,TVS,0
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,3.0,150.0,Yamaha,0
...,...,...,...,...,...,...,...,...
144,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,3.0,350.0,Royal Enfield,0
145,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,3.0,125.0,Honda,0
146,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,2.0,150.0,Honda,0
147,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,7.0,150.0,Yamaha,1
148,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,2.0,150.0,Yamaha,0

In [11]:
bike['owner'].memory_usage()

724

In [12]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   age         149 non-null    float64
 5   power       149 non-null    float64
 6   brand       149 non-null    object
 7   owner       149 non-null    int32
dtypes: float64(4), int32(1), object(3)
memory usage: 8.9+ KB

In [16]:
#pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\admin\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

print(mydb)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)